body {
  background-color: gray;
}

div {
  background: blue;
  border-color: orange;
  border-width: 5px;
  border-style: double;
}

p {
  color: yellow;
}

span {
  background: red;
  color: black;
}
