body {
  background: url(https://images.unsplash.com/photo-1467377791767-c929b5dc9a23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-repeat: repeat;
}

div {
  background: blue;
  border-color: orange;
  border-width: 5px;
  border-style: double;
}

p {
  color: yellow;
}

span {
  background: red;
  color: black;
}
